.p-2
	h1.thin.mb-3 Categorias

	.available-category-rectangle-horizontal#business
		h3 Business
	.available-category-rectangle-horizontal#economy
		h3 Economia
	.d-flex.justify-content-between
		.available-category-rectangle-vertical.mr-2#bovespa
			h3 Bovespa
		.available-category-rectangle-vertical.mr-2#travel
			h3 Viagem
	.available-category-rectangle-horizontal#health
		h3 Saúde
	.available-category-rectangle-horizontal#sports
		h3 Esportes
	.d-flex.justify-content-between
		.available-category-square.mr-2#apple
			h3 Apple
		.available-category-square.ml-2#google
			h3 Google
	.d-flex.justify-content-between
		.available-category-square.mr-2-2#amazon
			h3 Amazon
		.available-category-square.ml-2#microsoft
			h3 Microsoft
	.available-category-rectangle-horizontal#science
		h3 Ciência
	.available-category-rectangle-horizontal#entertainment
		h3 Entretenimento
	.d-flex.justify-content-between
		.available-category-rectangle-vertical.mr-2#auto
			h3 Automóveis
		.available-category-rectangle-vertical.mr-2#decoration
			h3 Decoração
	.available-category-rectangle-horizontal#technology
		h3 Tecnologia
	.d-flex.justify-content-between
		.available-category-square.mr-2#tesla
			h3 Tesla
		.available-category-square.ml-2#cripto
			h3 Cripto Moedas
javascript:
	$("#business").click(		function(){ window.location.href = "/category/business" 		})
	$("#economy").click(		function(){ window.location.href = "/category/economia" 		})
	$("#bovespa").click(		function(){ window.location.href = "/category/bovespa" 			})
	$("#travel").click(			function(){ window.location.href = "/category/viagem" 			})
	$("#health").click(			function(){ window.location.href = "/category/saude" 			})
	$("#sports").click(			function(){ window.location.href = "/category/esporte" 			})
	$("#apple").click(			function(){ window.location.href = "/category/apple" 			})
	$("#google").click(			function(){ window.location.href = "/category/google" 			})
	$("#amazon").click(			function(){ window.location.href = "/category/amazon" 			})
	$("#microsoft").click(		function(){ window.location.href = "/category/microsoft" 		})
	$("#science").click(		function(){ window.location.href = "/category/ciencia" 			})
	$("#entertainment").click(	function(){ window.location.href = "/category/entretenimento" 	})
	$("#auto").click(			function(){ window.location.href = "/category/automoveis" 		})
	$("#decoration").click(		function(){ window.location.href = "/category/decoracao" 		})
	$("#technology").click(		function(){ window.location.href = "/category/tecnologia" 		})
	$("#tesla").click(			function(){ window.location.href = "/category/tesla" 			})
	$("#cripto").click(			function(){ window.location.href = "/category/cripto-moedas" 	})

css:
	.available-category-rectangle-horizontal{
		width: 100%;
		height: 150px;
		border-radius: 20px;
		margin-bottom: 3%;
		padding: 3%;
	}
	.available-category-rectangle-vertical{
		width: 50%;
		height: 300px;
		border-radius: 20px;
		margin-bottom: 3%;
		padding: 3%;
	}
	.available-category-square{
		width: 50%;
		height: 150px;
		border-radius: 20px;
		margin-bottom: 3%;
		padding: 3%;
	}
	.available-category-rectangle-horizontal h3, .available-category-rectangle-vertical h3, .available-category-square h3{
		color: white;
	}
	#business{
		background: #614385;
		background: -webkit-linear-gradient(150deg, #614385, #516395);
		background: linear-gradient(150deg, #614385, #516395);
	}
	#health{
		background: #1D976C;
		background: -webkit-linear-gradient(150deg, #1D976C, #93F9B9);
		background: linear-gradient(150deg, #1D976C, #93F9B9);		
	}
	#economy{
		background: #FF8008;
		background: -webkit-linear-gradient(150deg, #FFC837, #FF8008);
		background: linear-gradient(150deg, #FFC837, #FF8008);
	}
	#sports{
		background: #EB3349;
		background: -webkit-linear-gradient(150deg, #F45C43, #EB3349);
		background: linear-gradient(150deg, #F45C43, #EB3349);
	}
	#science{
		background: #1FA2FF;
		background: -webkit-linear-gradient(150deg, #A6FFCB, #12D8FA, #1FA2FF);
		background: linear-gradient(150deg, #A6FFCB, #12D8FA, #1FA2FF);
	}
	#entertainment{
		background: #AA076B;
		background: -webkit-linear-gradient(150deg, #61045F, #AA076B);
		background: linear-gradient(150deg, #61045F, #AA076B);
	}
	#bovespa{
		background: #FF512F;
		background: -webkit-linear-gradient(150deg, #DD2476, #FF512F);
		background: linear-gradient(150deg, #DD2476, #FF512F);	
	}
	#travel{
		background: #2193b0;
		background: -webkit-linear-gradient(150deg, #6dd5ed, #2193b0);
		background: linear-gradient(150deg, #6dd5ed, #2193b0);		
	}
	#apple{
		background: #000000;
		background: -webkit-linear-gradient(150deg, #434343, #000000);
		background: linear-gradient(150deg, #434343, #000000);
	}
	#google{
		background: #cb2d3e;
		background: -webkit-linear-gradient(150deg, #ef473a, #cb2d3e);
		background: linear-gradient(150deg, #ef473a, #cb2d3e);
	}
	#amazon{
		background: #f46b45;
		background: -webkit-linear-gradient(150deg, #eea849, #f46b45);
		background: linear-gradient(150deg, #eea849, #f46b45);
	}
	#microsoft{
		background: #396afc;
		background: -webkit-linear-gradient(150deg, #2948ff, #396afc);
		background: linear-gradient(150deg, #2948ff, #396afc);
	}
	#technology{
		background: #8A2387;
		background: -webkit-linear-gradient(150deg, #F27121, #E94057, #8A2387);
		background: linear-gradient(150deg, #F27121, #E94057, #8A2387);
	}
	#decoration{
		background: #005C97;
		background: -webkit-linear-gradient(150deg, #363795, #005C97);
		background: linear-gradient(150deg, #363795, #005C97);
	}
	#auto{
		background: #000;
		background: -webkit-linear-gradient(150deg, #000, #333);
		background: linear-gradient(150deg, #000, #333);
	}
	#tesla{
		background: #737373;
		background: -webkit-linear-gradient(150deg, #737373, #444);
		background: linear-gradient(150deg, #737373, #444);
	}
	#cripto{
		background: #33cc33;
		background: -webkit-linear-gradient(150deg, #33cc33, #248f24);
		background: linear-gradient(150deg, #33cc33, #248f24);
	}