/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

:root {
  	--primary: #111;
	--secondary: #E6E6E6;
	--shadow: #999;
	--light-body: rgb(255,255,255);
	--light-sidebar-background: rgba(230,230,230,0.7);
	--light-sidebar-shadow: rgba(0,0,0,.1);
	/*Dark Mode*/
	--dark-body: rgba(0,0,0, 1);
	--dark-sidebar-background: rgba(34, 34, 34, 1);
	--dark-sidebar-shadow: rgba(0,0,0,.4);
}

/*@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');*/

body{ 
	padding-top: 2%; 
	margin-top: 10%;
}
h1,h2,h3,h4,h5,h6,p,a,span,label{
	font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}
.pointer{ cursor: pointer }
.thin{ font-weight: 200 }
.ulta-thin{ font-weight: 50 !important }