/* Categories Styles .  .  .  .  .  .  .  .  .  .  . */
.categories-mobile{
	display: flex;
	justify-content: flex-start;
	padding: 0 4%;
	display: none;
}
/* Search Input Styles .  .  .  .  .  .  .  .  .  .  */
.search-mobile{
	border: none;
	border-radius: 10px;	
	display: none;
}
/* Mobile Adapted Styles .  .  .  .  .  .  .  .  .  .*/
@media only screen and (max-width: 600px) {
	body {
		margin-top: 10%;
	}
	.topBar h3{
		font-size: 1.5em;
	}
	.categories{
		display: none !important;
	}
	.search{
		display: none;
	}
	.categories-mobile{
		display: block;
	}
	.search-mobile{
		display: block;
		width: 95%;
		margin: 0 2.5% 4% 2.5%;
		padding: 2%
	}
	#myFrame{
		position: fixed;
		z-index: 999999;
		bottom: 0;
		height: 100%;
		left: 0;
		width: 100%;
		border: none;
	}
	.myFrameBlurredBackground{
		background: rgba(255,255,255,0);
	  	-webkit-backdrop-filter: blur(5px);
	  	-moz-backdrop-filter: blur(5px);
	  	-ms-backdrop-filter: blur(5px);
	  	-o-backdrop-filter: blur(5px);
	}
	#myFrame .frameHeader{
		display: flex;
		justify-content: space-between;
		position: absolute;
		padding: 0.25% 1%;
		bottom: 95%;
		left: 0 !important;
		width: 100% !important;
		height: 5% !important;
		background: #fff;
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
		border: 1px solid rgba(0,0,0,0.1);
	}
	#myFrame iframe{
		position: absolute;
		bottom: 0;
		left: 0 !important;
		width: 100% !important;
		height: 95%;
		border: none;
	}
}

