/* Categories Styles .  .  .  .  .  .  .  .  .  .  . */
.categories-mobile{
	display: flex;
	justify-content: flex-start;
	padding: 0 4%;
	display: none;
}
/* Search Input Styles .  .  .  .  .  .  .  .  .  .  */
.search-mobile{
	border: none;
	border-radius: 10px;	
	display: none;
}
.news .mobile-gallery{
	display: none;
}
/* Mobile Adapted Styles .  .  .  .  .  .  .  .  .  .*/
@media only screen and (max-width: 600px) {
	body {
		margin-top: 10%;
	}
	.topBar h3{
		font-size: 1.5em;
	}
	.categories{
		display: none !important;
	}
	.search{
		display: none;
	}
	.categories-mobile{
		display: block;
	}
	.categories-mobile .category p{
		color: white;
		text-decoration: none;
	}
	.search-mobile{
		display: block;
		width: 95%;
		margin: 0 2.5% 4% 2.5%;
		padding: 2%
	}
	.news .mobile-gallery{
		display: block !important;
	}
	.web-gallery .article{
		display: none;
	}
}
