.darkBody{ background: #000 !important }
h1,h2,h3,h4,h5,h6,p{
	color: var(--secondary);
	font-family: 'Noto Serif', serif;
}
/* Home Styles  .  .  .  .  .  .  .  .  .  .  .  .*/
.darkBody .home-desktop .sidebar{
	background: var(--dark-sidebar-background);
   	-moz-box-shadow: inset 0 0 10px var(--dark-sidebar-shadow);
   	-webkit-box-shadow: inset 0 0 10px var(--dark-sidebar-shadow);
   	box-shadow: inset 0 0 10px var(--dark-sidebar-shadow);
}
.darkBody .main{
	position: absolute;
	top: 0;
	left: 18%;
	z-index: 99;
	height: 100%;
	width: 82%;	
	background-color: var(--dark-body) !important;
}
.darkBody .home-date{
	color: var(--secondary) !important
}
.darkBody .home-saudation{
	color: var(--secondary) !important	
}
.darkBody .sidebar a{
	color: var(--secondary) !important;
}
.darkBody .sidebar-icon-categories{
	content:url(https://img.icons8.com/ios-glyphs/30/E6E6E6/albums.png) !important;
}
.darkBody .sidebar-icon-home{
	content:url(https://img.icons8.com/ios-glyphs/30/E6E6E6/today-apps.png) !important;
}
.darkBody .user-profile{
	content:url(https://img.icons8.com/ios-filled/50/E6E6E6/user-male-circle.png) !important;
}
/* Articles Styles .  .  .  .  .  .  .  .  .  .  .*/
.darkBody .gallery {
	background: -webkit-linear-gradient(to bottom, #000, #111) !important;
	background: linear-gradient(to bottom, #000, #111) !important;
}
.darkBody .horizontal-bar h2,
.darkBody .horizontal-bar .brand{
	color: var(--secondary);
}
.darkBody .article{
	background: black !important;
}
.darkBody .article p{
	color: var(--secondary) !important;
}
.darkBody .button {
	background: var(--secondary) !important;
  	color: #000 !important;
  	box-shadow: 1px 5px 15px 3px transparent !important;
}
/* Categories Styles .  .  .  .  .  .  .  .  .  .  .*/
.darkBody .desktop-categories h1{
	color: var(--secondary)
}
.darkBody .category #title{
	color: var(--secondary)	
}
/* Bottom Nav */
.bottom-nav{
	background: rgba(0,0,0,0.9) !important;
}
.bottom-nav .home-icon{
	content:url(https://img.icons8.com/ios-glyphs/40/E6E6E6/today-apps.png);
}
.bottom-nav .categories-icon{
	content:url(https://img.icons8.com/ios-glyphs/40/E6E6E6/albums.png);
}
.bottom-nav .profile-icon{
	content:url(https://img.icons8.com/ios-filled/40/E6E6E6/user-male-circle.png);
}