/* Categories Styles .  .  .  .  .  .  .  .  .  .  . */
.categories-mobile{
	display: flex;
	justify-content: flex-start;
	padding: 0 4%;
	display: none;
}
/* Search Input Styles .  .  .  .  .  .  .  .  .  .  */
.search-mobile{
	border: none;
	border-radius: 10px;	
	display: none;
}
.news .mobile-gallery{
	display: none;
}
.bottom-nav{
	display: none;
}
/* Mobile Adapted Styles .  .  .  .  .  .  .  .  .  .*/
@media only screen and (max-width: 600px) {
	body {
		margin-top: 2%;
	}
	.topBar h3{
		font-size: 1.5em;
	}
	.categories{
		display: none !important;
	}
	.search{
		display: none;
	}
	.categories-mobile{
		display: block;
	}
	.categories-mobile .category p{
		color: white;
		text-decoration: none;
	}
	.search-mobile{
		display: block;
		width: 95%;
		margin: 0 2.5% 4% 2.5%;
		padding: 2%
	}
	.news .mobile-gallery{
		display: block !important;
	}
	.web-gallery .article{
		display: none;
	}
	.bottom-nav {
		display: block;
	    width: 100%;
	    background: rgba(255,255,255,0.7);
	    height: 60px;
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    z-index: 9999;
	    padding: 2% 4% 3% 4%;
	    backdrop-filter: blur(10px);
	    -webkit-backdrop-filter: blur(10px);
	    -moz-backdrop-filter: blur(10px);
	    -ms-backdrop-filter: blur(10px);
	    -o-backdrop-filter: blur(10px);
	    display: flex;
	    justify-content: space-between;		
	}
	.todayNews{
		background: #fff;
		margin: 1%;
		height: 100px;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 1px 1px 10px 3px #ccc;
	}
	.todayNews img{
		border-radius: 10px;
	}
}
